#book-list {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  margin: 15px;
}
#book-list::-webkit-scrollbar {
  width: 20px;
}
#book-list::-webkit-scrollbar-thumb {
  background-color: rgba(254, 205, 50, 1);
  border-radius: 10px;
}
#book-list::-webkit-scrollbar-track {
  background-color: rgba(179, 177, 177, 0.1);
  border-radius: 10px;
}
.book-list__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.book-list__img img {
  height: 150px;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
}
