@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import "reset.css";
@import "variables.css";
@import "music-status-bar.css";

/*first main*/
@import "profile.css";
@import "musiclist.css";
@import "list-control-bar.css";

/*second main*/
@import "onplay-screen.css";
@import "musicprogress.css";
@import "music-control-bar.css";

* {
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}
body {
  font-family: "Balsamiq Sans", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--default-color);
  background-color: rgb(247, 247, 247);
}
.main {
  margin: 20px 50px;
  width: 300px;
  height: 650px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(63, 62, 62, 0.2);
}
